.card {
    border: none;
    background-color: #eeee;
    width: 24rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    color: rgb(52, 58, 64);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    color: rgb(52, 58, 64);
}

#carouselExampleInterval{
    margin-top: 50px;
    margin-bottom: 50px;
}

.message-box {
    width: 100%;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20%;
}

.message-box h1{
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(52, 58, 64);
}

.message-box h2{
    font-size: 2.5vw;
}

#card-block{
    margin-top: 10%;
    font-size: 1.5vw;
    width: 70%;
}

#card-block h1{
    font-size: 4vw;
}

.text-container {
    text-align: center;
    align-content: center;
    vertical-align: top;
    margin-top: 10%;
    margin-right: 20%;
}

.text-container-left {
    vertical-align: top;
    margin-top: 10%;
    margin-left: 20%;
    padding: 0;
}