#btn-s{
    font-weight: bold;
}

.custom-table {
    width: 60%;
    text-align: center;
    background-color: #eeeeee;
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 20%;
}

td {
    padding: 10px 0;
    border: 1px solid black;
    border-top: 1px #000 solid;
}

.Url-row{
    text-align: left;
    text-indent: 15px;
}

.header {
    font-weight: bold;
    color: white;
}