.body-container {
    height: 100%;
    width: 75%;
    display: table;
    margin: auto;
    flex-grow: 1;
    background-color: #eeeeee;
}

body {
    font-family: Georgia;
    flex-direction: column;
    text-align: center;
    color: rgb(52, 58, 64);
    overflow-x: hidden;
}

.header {
    background-color: rgb(52, 58, 64);
    height: 7vh;
}

.header-button {
    color: rgb(52, 58, 64);
    font-weight: bold;
    text-decoration: none;
}

.header-button:hover {
    text-decoration: none;
    color: rgb(52, 58, 64);
}

#header-button {
    color: rgb(52, 58, 64);
    font-weight: bold;
    text-decoration: none;
}

#header-button:hover {
    text-decoration: none;
    color: rgb(52, 58, 64);
}

th {
    text-align: center;
}

td {
    vertical-align: central;
}

.form-control {
    display: initial !important;
    min-width: 303px;
    max-width: 403px;
    transition: width 0.1s;
}

#footer {
    border: 4px;
    padding: 10px;
    border-top: solid;
    position: relative;
    width: 100%;
    height: 80px;
    color: rgb(52, 58, 64)
}

#footer>h6{
    position: absolute;
    right: 0;
    margin-right: 170px;
}

.icons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.icons{
    cursor: pointer;
    display: inline-block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    outline: none;
    border: none;
}

.navbar{
    height: 60px;
    display: inline-block;
    width: 100%;
}

#valid-field{
    margin-top: 7px;
    color: red;
    vertical-align: central;
}

@media screen and (max-width:1615px) {
    #all-requests {
        display: none;
    }
}

@media screen and (max-width:1600px) {
    #show_all_btn, #last_request_btn, #my_req_btn {
        display: none;
    }
}

#left-block {
    margin-top: -10px;
}

#right-block {
    display: inline-block;
    margin-top: 3px;
    right: 0;
}

